.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: .5rem 1rem; 
    cursor: pointer;

}

@media (max-width: 580px){
    .icon-container{
        position: none;
    }
}



.icons, .menu {
    display: flex;
    gap: 2rem
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease;

}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: left;
    color: rgb(234, 230, 225);
}

.menu-icon.open {
    display: flex; 
}

.nav-link{
    color: #ffffff;
    margin: .3rem .9rem;
}


@media (max-width: 680px) {

    .navbar-container {
        position: relative; 
        padding: 1rem .8rem;
        z-index: 1000;
        width: 100%;
    
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        left: 0;
        width: 60vw;
        height: 100lvh;
        top: 100%;    
        ;
        background: #9417b3;
        transition: 0.3s;
        transform: translateX(-100%);
        padding: 1rem; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu.open {
        transform: translateX(0%);
    }

    .icon {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 2rem 1rem;
        margin: .7rem auto;
        /* gap: 10px;  */
        border-bottom: 1px solid white;
        width: 100%;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .icon {
        font-size: 2rem; 
        color: #ffffff; 
    }



    /* .text {
        display: flex;
        font-size: 1rem;
        margin-left: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
    } */

    .menu-icon span {
        height: 2px;
        width: 22px;
        background-color:  rgb(234, 230, 225);
        margin: 4px 8px;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .menu-icon.open span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 6px);
    }

    .menu-icon.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.open span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -6px);
    }

}

@media (min-width: 680px) {
    .text {
        display: none;
    }

}



.logout-icon, .chart-icon, .gasto-icon, .change-icon, .notas-icon svg {
    color: rgb(255, 255, 255); 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.logout-icon:hover {
    
    transform: scale(1.1);
}


.user {
    display: flex;
    margin-left: auto; 
    font-size: 1rem; 
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.user svg{
    color: rgb(255, 235, 18);
}

.user svg:hover{
    color: rgb(250, 250, 250);
    transition: .6s;
}

.user p{
    margin-left: 22px;
}

span:hover{
    color: rgb(242, 242, 27);
    transition: .6s;
}



@media (max-width: 350px) {
    .user {
        flex-wrap: wrap;
        /* font-size: .7rem; */
    }
}